@use "../styles/variables" as colors

.container
    padding: 1rem

    &:hover
        background-color: colors.$bg-shade

.composer
    font-weight: 700

.work
.info
    font-style: italic

.player
    background-color: blue
    width: 100%
    margin-right: 2.5rem